<h3>Activity</h3>
<div>
{% for activity in activities %}
    {% if activity.getId in activeActivities %}
        {% set class="active" %}
    {% else %}
        {% set class="" %}
    {% endif %}
    <a href="#" type="activity" rel="{{ activity.getId }}" class="label button {{ class }}">{{ activity.title }}</a>
{% endfor %}
</div>
{% if labels|length %}
    <h3 style="clear: both">Labels</h3>
    <div>
    {% for label in labels %}
        {% if label._id in activeLabels %}
            {% set class="active" %}
        {% else %}
            {% set class="" %}
        {% endif %}
       <a href="#" type="label_{{ context }}" rel="{{ label._id }}" class="label button {{ class }}">{{ label._id }} x {{ label.value }}</a>
    {% endfor %}
    </div>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.label').each(function() {
            var el = $(this);
            $(this).click(function() {
                $.post('{{ path('filter_update') }}', {
                    'type': el.attr('type'),
                    'id': el.attr('rel'),
                }, function () {
                    el.toggleClass('active');
                    window.location.reload(true);
                });
                return false;
            });
        });
    });
</script>
