{% extends "DTLTrainerBundle:Session:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block navigation2 %}
    {{ parent() }}
    <li>
        <a class="btn" href="{{ path('session_edit', {'session_id': session.getId}) }}">{% trans %}Edit{% endtrans %}</a>
    </li>
{% endblock %}
{% block page %}
<div class="span-24">
{% if session.getRoute %}
    <h2><a href="{{ path('route_view', {'route_id': session.getRoute.getId}) }}#session_{{ session.getId }}">{{ session.getRoute.getTitle }}</a></h2>
{% else %}
    <h2>{{ session.title }}</h2>
{% endif %}
<section id="stats">
<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Activity{% endtrans %}</th>
            <th>{% trans %}Distance{% endtrans %}</th>
            <th>{% trans %}Time{% endtrans %}</th>
            <th>MP{{ user_preference.get('distanceUnit')|upper }}</th>
            <th>{{ user_preference.get('distanceUnit')|upper }}PH</th>
            <th>Weight</th>
            <th>{% trans %}Labels{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ session.getDate().format('d-m-Y') }}</td>
            <td>{{ session.getActivity.getTitle }}</td>
            <td>{{ format_measure(session.getDistance, 'distance') }}</td>
            <td>{{ format_measure(session.getTime, 'time') }}</td>
            <td>{{ format_average_pace(session.getTime, session.getDistance) }}</td>
            <td>{{ format_average_speed(session.getTime, session.getDistance) }}</td>
            <td>{{ session.getWeight }}</td>
            <td>{{ session.getLabels|join(',') }}</td>
        </tr>
    </tbody>
</table>
</section>
{% if session.getLog %}
    <section id="log">
    <h3>Log</h3>
    <div class="log">
    {{ session.getLog|replace({"\n": "<br/>"})|raw }}
    </div>
    </section>
{% endif %}
{% if session.getAverageSpeed %}
    <section id="linear-predictions">
        <h3>Linear Predictions</h3>
        <table class="table">
            <tr>
                <th>Marathon</th>
                <td>{{ format_measure((42.46254159 / session.getAverageSpeed) * 3600 * 1000, 'time') }}</td>
                <th>Half Marathon</th>
                <td>{{ format_measure(((42.46254159 / 2) / session.getAverageSpeed) * 3600 * 1000, 'time') }}</td>
                <th>10m</th>
                <td>{{ format_measure((16.0934400 / session.getAverageSpeed) * 3600 * 1000, 'time') }}</td>
                <th>10k</th>
                <td>{{ format_measure((10 / session.getAverageSpeed) * 3600 * 1000, 'time') }}</td>
            </tr>
        </table>
    </section>
{% endif %}

</div>
{% endblock %}
