<table id="routes">
    <thead>
        <tr>
            <th></th>
            <th>Activity</th>
            <th>Title</th>
            <th>Distance / Time</th>
            <th>Best</th>
            <th>Sessions</th>
            <th>Last</th>
            <th>Trend</th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td><img src="{{ asset('bundles/dtltrainer/icons/%icon%.png'|replace({'%icon%': route.getActivity.getIcon})) }}"/></td>
            <td>{{ route.getActivity }}</td>
            <td><a href="{{ path('route_view', {'route_id': route.getId}) }}">{{ route.getTitle }}</a></td>
            <td>
                {{ format_measure(route.getMeasure, route.getMeasuredBy) }}
            </td>
            <td>
                {{ format_measure(route.getBest, route.getRankedBy) }}
            </td>
            <td>
                {{ route.getSessionCount }}
            </td>
            <td>
                {{ route.getLastSessionDate.format('Y-m-d') }}<br/>
                {{ time_ago_in_words(route.getLastSessionDate.format('U')) }}
            </td>
            <td>
                <span class="sparkline-{{ route.getId }}"></span>
                <script type="text/javascript">
                    $('.sparkline-{{ route.getId }}').sparkline([{{ route.getTrend|join(',') }}], {'width': '50px'});
                </script>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#routes').tablesorter();
        });
</script>
