<table>
    <thead>
        <tr>
            <th></th>
            <th>Activity</th>
            <th>Title</th>
            <th>Distance / Time</th>
            <th>Best</th>
            <th>Sessions</th>
            <th>Trend</th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td><img src="{{ asset('bundles/dtltrainer/icons/%icon%.png'|replace({'%icon%': route.getActivity.getIcon})) }}"/></td>
            <td>{{ route.getActivity }}</td>
            <td><a href="{{ path('route_edit', {'route_id': route.getId}) }}">{{ route.getTitle }}</a></td>
            <td>
                {% if route.isMeasuredBy('time') %}
                    {{ format_seconds(route.getTime) }}
                {% elseif route.isMeasuredBy('distance') %}
                    {{ format_meters(route.getDistance) }}
                {% endif %}
            </td>
            <td>
                {% if route.isMeasuredBy('time') %}
                    {{ format_meters(route.getBest) }}
                {% elseif route.isMeasuredBy('distance') %}
                    {{ format_seconds(route.getBest) }}
                {% endif %}
            </td>
            <td>
                {{ route.getSessionCount }}
            </td>
            <td>
                <span class="sparkline-{{ route.getId }}"></span>
                <script type="text/javascript">
                    $('.sparkline-{{ route.getId }}').sparkline([{{ route.getTrend|join(',') }}], {'width': '50px'});
                </script>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
