<table id="routes">
    <thead>
        <tr>
            <th></th>
            <th>Last</th>
            <th>Activity</th>
            <th>Title</th>
            <th>Dst/Tme</th>
            <th colspan="3">Best</th>
            <th>Sessions</th>
            <th>Trend</th>
        </tr>
        <tr class="small">
            <th colspan="5"></th>
            <th>Tme/Dst</th>
            <th>MP{{ user_preference.get('distanceUnit')|upper }}</th>
            <th>{{ user_preference.get('distanceUnit')|upper }}PH</th>
            <Th colspan="4"></th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td><img src="{{ asset('bundles/dtltrainer/icons/%icon%.png'|replace({'%icon%': route.getActivity.getIcon})) }}"/></td>
            <td>
                {% if route.getLastSessionDate %}
                {{ route.getLastSessionDate.format('Y-m-d') }}<br/>
                {{ time_ago_in_words(route.getLastSessionDate.format('U')) }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ route.getActivity }}</td>
            <td><a href="{{ path('route_view', {'route_id': route.getId}) }}">{{ route.getTitle }}</a></td>
            <td>
                {{ format_measure(route.getMeasure, route.getMeasuredBy) }}
            </td>
            <td>
                {{ format_measure(route.getSessionMeasure(route.getBestSession), route.getRankedBy) }}
            </td>
            <td>
                {{ format_average_pace(route.getBestSession.getTime, route.getBestSession.getDistance) }}
            </td>
            <td>
                {{ format_average_speed(route.getBestSession.getTime, route.getBestSession.getDistance) }}
            </td>
            <td>
                {{ route.getSessionCount }}
            </td>
            <td>
                <span class="sparkline-{{ route.getId }}"></span>
                <script type="text/javascript">
                    $('.sparkline-{{ route.getId }}').sparkline([{{ route.getTrendPlots|join(',') }}], {'width': '50px'});
                </script>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#routes').tablesorter({
            headers: {
                1: {
                    sorter: 'date_with_words',
                }
            }
        });
        });
</script>
