{% extends "DTLTrainerBundle:Route:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block navigation2 %}
    {{ parent() }}
    <a class="button" href="{{ path('route_edit', {'route_id': route.getId}) }}">{% trans %}Edit{% endtrans %}</a>
    <a class="button" href="{{ path('route_new_session', {'route_id': route.getId}) }}">{% trans %}New Session{% endtrans %}</a>
{% endblock %}
{% block page %}
<div class="span-24">
<h3>{{ route.title }}</h3>
<table>
    <thead>
        <tr>
            <th>{% trans %}Activity{% endtrans %}</th>
            <th>{{ route.measuredBy }}</th>
            <th>{% trans %}Sessions{% endtrans %}</th>
            <th>{% trans %}Labels{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ route.getActivity.getTitle }}</td>
            <td>{{ format_measure(route.getMeasure, route.getMeasuredBy) }}</td>
            <td>{{ route.getSessions|length }}</td>
            <td>{{ route.getLabels|join(',') }}</td>
        </tr>
    </tbody>
</table>
</div>
<div class="span-12">
    <h4>{% trans %}Sessions{% endtrans %}</h4>
    {% include "DTLTrainerBundle:Route:_sessions.html.twig" with {'sessions': route.getSessions()} %}
</div>
<div class="span-12 last">
    <h4>{% trans %}Performance{% endtrans %}</h4>
    {% include "DTLTrainerBundle:Route:_performanceTimeGraph.html.twig" with {'route': route} %}
</div>
{% endblock %}
