<form action="#" method="post" {{ form_enctype(form) }}>
    <div id="session_form" class="form">
        <div id="session_title_td" class="span-18 ">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'title'}}) }}
            <span id="route_title_span"></span>
        </div>
        {{ form_row(form.activity, {'class': 'span-2'}) }}
        {{ form_row(form.route, {'class': 'span-7'}) }}
        <div style="clear: both"></div>
        {{ form_row(form.date, {'class': 'span-4'}) }}
        <div id="time_distance" class="span-14 last">
        </div>
        {{ form_row(form.log, {'class': 'span-18'}) }}
        {{ form_row(form._token) }}
    </div>
    <button type="submit" class="positive">{% trans %}Save{% endtrans %}</button>
    <a href="{{ path("sessions") }}" class="button negative">{% trans %}Cancel{% endtrans %}</a>
</form>

<div style="display: none">
    <div id="distance_row" class="span-2">
        {{ form_label(form.distance) }}
        {{ form_errors(form.distance) }}
        {{ form_widget(form.distance, {'attr': {'class': 'text span-2'}}) }}
    </div>
    <div id="time_row">
        {{ form_label(form.time) }}
        {{ form_errors(form.time) }}
        {{ form_widget(form.time, {'attr': {'class': 'text span-2'}}) }}
    </div>
    <div id="distance_time_row">
        <div id="distance_time_td">
            <label>{% trans %}Distance / Time{% endtrans %}</label>
            {{ form_errors(form.distance) }}
            {{ form_errors(form.time) }}
        </div>
    </div>
</div>

<script type="text/javascript">
var routes = {
    {% for route in routes %}
            "{{ route.getId }}": {
                'measuredBy': "{{ route.getMeasuredBy }}",
                'activity': "{{ route.getActivity.getId }}",
                'title': "{{ route.getTitle }}",
            },
    {% endfor %}
};

$(document).ready(function () {
    $('#distance_time_td').append($('#session_distance').clone());
    $('#distance_time_td').append(' / ');
    $('#distance_time_td').append($('#session_time').clone());

    $('#session_route').change(function() {
        var route = routes[$(this).val()];
        $('#route_title_span').empty();

        if (route) {
            var titleParent = $('#session_title').parent();
            $('#session_title').css('display', 'none');
            $('#route_title_span').append('<h2>' + route.title + '</h2>');
            if (route.measuredBy == 'distance') {
                $('#time_distance').empty().append($('#time_row').clone().children());
            }
            if (route.measuredBy == 'time') {
                $('#time_distance').empty().append($('#distance_row').clone().children());
            }
        } else {
            $('#time_distance').empty().append($('#distance_time_row').clone().children());
            $('#session_title').css('display', 'inline');
        }
    });

    $('#session_activity').change(function() {
        var selectedId = $('#session_route').val();
        $('#session_route').empty();
        
        $('#session_route').append('<option value=""> - Free Session - </option>');
        for (id in routes) {
            if (routes[id].activity == $(this).val()) {
                $('#session_route').append('<option value="' + id + '">' + routes[id].title + '</option>');
            }
        }

        $('#session_route').val(selectedId);

        $('#session_route').change();

    });

    $('#session_activity').change();
});
</script>
