<table id="sessions">
    <thead>
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Title</th>
            <th>Log</th>
            <th>Time</th>
            <th>Pace <span class="small"></span></th>
            <th>Distance <span class="small"></span></th>
            <th>Rank</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th class="small">h:m:s</th>
            <th class="small">mp{{ user_preference.get('distanceUnit') }}</th>
            <th class="small">{{ user_preference.get('distanceUnit') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>
                {{ session.getDate.format('Y-m-d') }}<br/>
                {{ time_ago_in_words(session.getDate.format('U')) }}
            </td>
            <td>{{ session.getActivity }}</td>
            <td>
                <a href="{{ path("session_view", {'session_id': session.getId}) }}">{{ session.getTitle }}</a>
            </td>
            <td>
                {% if session.getLog %}
                    {% include "DTLTrainerBundle:Session:_log.html.twig" with {'log': session.getLog} %}
                {% endif %}
            </td>
            <td>{{ format_seconds(session.getTime, 'stopwatch') }}</td>
            <td>{{ format_average_pace(session.getTime, session.getDistance) }}</td>
            <td>{{ format_meters(session.getDistance) }}</td>
            <td>{{ session.getRank }}
        </tr>
    {% endfor %}
    </tbody>
</table>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#sessions').tablesorter();
        $('.log-target').ezpz_tooltip();
    });
</script>
