<table id="sessions">
    <thead>
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Title</th>
            <th>Log</th>
            <th>Time</th>
            <th>Pace</th>
            <th>Distance</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>
                {{ session.getDate.format('Y-m-d') }}<br/>
                {{ time_ago_in_words(session.getDate.format('U')) }}
            </td>
            <td>{{ session.getActivity }}</td>
            <td><a href="{{ path("session_edit", {'session_id': session.getId}) }}">{{ session.getTitle }}</a></td>
            <td>{{ session.getLog }}</td>
            <td>{{ format_seconds(session.getTime, 'stopwatch') }}</td>
            <td>{{ format_seconds(session.getAveragePace()) }}</td>
            <td>{{ format_meters(session.getDistance) }}</td>
            <td>{{ session.getRank }}
        </tr>
    {% endfor %}
    </tbody>
</table>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#sessions').tablesorter();
        });
</script>
