<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
        <title>{{ user_preference.get('siteTitle') }}</title>
        <description></description>
        <link>{{ url('sessions') }}</link>
        {% for session in sessions %}
            <item>
                    <title>[{{ session.getActivity.getTitle }}] {{ session.getTitle }}</title>
                    <description>
                        {{ format_meters(session.getDistance) }}{{ user_preference.get('distanceUnit') }} / 
                        {{ format_seconds(session.getTime) }} /
                        {{ format_average_pace(session.getTime, session.getDistance) }}mp{{ user_preference.get('distanceUnit') }}
                        {{ session.getLog }}
                    </description>
                    <link>{{ url('session_view', {'session_id': session.getId }) }}</link>
                    <guid>{{ session.getId }}</guid>
                    <pubDate>{{ session.getDate.format('c') }}</pubDate>
            </item>
        {% endfor %}
</channel>
</rss>
