{% extends "::base.html.twig" %}
{% block stylesheets %}
    <script type="text/javascript" src="{{ asset("js/jquery-1.6.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/jquery.sparkline.min.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("css/blueprint/screen.css") }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ asset("css/blueprint/print.css") }}" type="text/css" media="print"> 
    <link rel="stylesheet" href="{{ asset("css/blueprint/plugins/buttons/screen.css") }}" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="{{ asset("bundles/dtltrainer/css/main.css") }}" type="text/css" media="screen, projection">
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
{% endblock %}
{% block body %}
    <div class="container">
        <div class="span-24" id="header">
            <h1>Mongo Trainer</h1>
        </div>
        <div class="span-24" id="navigation-1">
            <a class="large" href="{{ path('sessions') }}">Sessions</a>
            <a class="large" href="{{ path('routes') }}">Routes</a>
        </div>
        <div class="span-24" id="title">
            <h2>{% block page_title %}{% endblock %}</h2>
        </div>
        <div class="span-24" id="navigation-2">
            {% block navigation2 %}
            {% endblock %}
        </div>
        <hr/>
        {% if app.session.getFlash('success') %}
            <div class="span-24 success">
                {{ app.session.getFlash('success') }}
            </div>
        {% endif %}
        <div class="span-24">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
